In [2]:
import requests
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
url = "https://api.openf1.org/v1/sessions"
params = {"year": 2025, "session_name": "Qualifying"}

response = requests.get(url, params=params)
data = response.json()

df_sessions = pd.DataFrame(data)

if df_sessions.empty:
    print("⚠️ No qualifying sessions found for 2025 yet. Try using 2024 for now.")
else:
    cols_to_show = [c for c in ["meeting_name", "session_name", "session_key"] if c in df_sessions.columns]
    display(df_sessions[cols_to_show].head())

  session_name  session_key
0   Qualifying         9689
1   Qualifying         9994
2   Qualifying        10002
3   Qualifying        10010
4   Qualifying        10018