In [1]:
import pandas as pd

df = pd.read_csv("../data/all_quali_2024.csv")
print(df.shape)
df.head()

(1476, 16)

,meeting_key,session_key,driver_number,lap_number,date_start,duration_sector_1,duration_sector_2,duration_sector_3,i1_speed,i2_speed,is_pit_out_lap,lap_duration,segments_sector_1,segments_sector_2,segments_sector_3,st_speed
0,1254,9689,31,1,NaN,NaN,19.465,37.924,257.0,295.0,True,NaN,"[2064, 2049, 2049, 2049, 2049, 2049, 2049, 204...","[2049, 2051, 2051, 2049, 2049]","[2051, 2051, 2051, 2051, 2051, 2051, 2051, 2051]",162.0
1,1254,9689,87,1,2025-03-15T05:00:11.094000+00:00,NaN,33.462,NaN,98.0,159.0,True,NaN,"[2064, 2049, 2049, 2049, 2049, 2049, 2049, 204...","[2049, 2049, 2049, 2049, 2049]",[2049],156.0
2,1254,9689,63,1,2025-03-15T05:00:20.317000+00:00,NaN,19.626,39.659,265.0,307.0,True,NaN,"[2064, 2049, 2049, 2049, 2049, 2049, 2049, 204...","[2049, 2049, 2049, 2051, 2051]","[2049, 2049, 2049, 2049, 2049, 2051, 2051, 2051]",104.0
3,1254,9689,7,1,2025-03-15T05:00:28.784000+00:00,61.845,19.900,44.391,257.0,305.0,True,126.136,"[2064, 2049, 2049, 2049, 2049, 2049, 2049, 204...","[2049, 2049, 2049, 2049, 2049]","[2049, 2049, 2049, 2049, 2049, 2049, 2049, 2049]",112.0
4,1254,9689,27,1,2025-03-15T05:00:38.159000+00:00,53.650,20.891,41.731,251.0,284.0,True,116.272,"[2064, 2049, 2049, 2049, 2049, 2049, 2049, 204...","[2049, 2049, 2049, 2049, 2049]","[2049, 2049, 2049, 2049, 2049, 2049, 2049]",123.0

In [2]:
# Check missing values
df.isnull().sum()

# Check duplicate rows
df.duplicated().sum()

df = df.drop_duplicates()

df = df.dropna(subset=["lap_duration"])  # keep only rows with lap times

# Example: standardize driver names
df["driver"] = df["driver"].str.strip().str.title()

# Standardize team names
df["team"] = df["team"].str.strip().str.upper()

# Add lap number as numeric
df["lap_number"] = pd.to_numeric(df["lap_number"], errors="coerce")

# Compute cumulative average lap time per driver in that session
df["driver_avg_lap"] = df.groupby(["session_key", "driver"])["lap_duration"].transform("mean")

# Encode tire compounds 
df = pd.get_dummies(df, columns=["tire_compound"])

df.to_csv("../data/processed_quali_2024.csv", index=False)
print("âœ… Processed data saved to ../data/processed_quali_2024.csv")

KeyError: 'driver'