In [1]:
import pandas as pd

df = pd.read_csv("../data/all_quali_2024.csv")
print(df.shape)
df.head()

(1476, 16)

,meeting_key,session_key,driver_number,lap_number,date_start,duration_sector_1,duration_sector_2,duration_sector_3,i1_speed,i2_speed,is_pit_out_lap,lap_duration,segments_sector_1,segments_sector_2,segments_sector_3,st_speed
0,1254,9689,31,1,NaN,NaN,19.465,37.924,257.0,295.0,True,NaN,"[2064, 2049, 2049, 2049, 2049, 2049, 2049, 204...","[2049, 2051, 2051, 2049, 2049]","[2051, 2051, 2051, 2051, 2051, 2051, 2051, 2051]",162.0
1,1254,9689,87,1,2025-03-15T05:00:11.094000+00:00,NaN,33.462,NaN,98.0,159.0,True,NaN,"[2064, 2049, 2049, 2049, 2049, 2049, 2049, 204...","[2049, 2049, 2049, 2049, 2049]",[2049],156.0
2,1254,9689,63,1,2025-03-15T05:00:20.317000+00:00,NaN,19.626,39.659,265.0,307.0,True,NaN,"[2064, 2049, 2049, 2049, 2049, 2049, 2049, 204...","[2049, 2049, 2049, 2051, 2051]","[2049, 2049, 2049, 2049, 2049, 2051, 2051, 2051]",104.0
3,1254,9689,7,1,2025-03-15T05:00:28.784000+00:00,61.845,19.900,44.391,257.0,305.0,True,126.136,"[2064, 2049, 2049, 2049, 2049, 2049, 2049, 204...","[2049, 2049, 2049, 2049, 2049]","[2049, 2049, 2049, 2049, 2049, 2049, 2049, 2049]",112.0
4,1254,9689,27,1,2025-03-15T05:00:38.159000+00:00,53.650,20.891,41.731,251.0,284.0,True,116.272,"[2064, 2049, 2049, 2049, 2049, 2049, 2049, 204...","[2049, 2049, 2049, 2049, 2049]","[2049, 2049, 2049, 2049, 2049, 2049, 2049]",123.0

In [6]:
import pandas as pd

df = pd.read_csv("../data/all_quali_2024.csv")

# -------------------------------------
# 1. Basic cleaning
# -------------------------------------

# Check missing values
print(df.isnull().sum())

# Remove duplicate rows
df = df.drop_duplicates()

# Keep only laps with valid lap_time
df = df.dropna(subset=["lap_duration"])

# Convert datatypes
df["lap_number"] = pd.to_numeric(df["lap_number"], errors="coerce")
df["duration_sector_1"] = pd.to_numeric(df["duration_sector_1"], errors="coerce")
df["duration_sector_2"] = pd.to_numeric(df["duration_sector_2"], errors="coerce")
df["duration_sector_3"] = pd.to_numeric(df["duration_sector_3"], errors="coerce")
df["lap_duration"] = pd.to_numeric(df["lap_duration"], errors="coerce")

# -------------------------------------
# 2. Add derived features
# -------------------------------------

# Total sector time sum (should equal lap duration but sometimes slight diff)
df["sector_sum"] = (
    df["duration_sector_1"] +
    df["duration_sector_2"] +
    df["duration_sector_3"]
)

# Average speeds combined
df["avg_speed_est"] = (df["i1_speed"] + df["i2_speed"] + df["st_speed"]) / 3

# Identify pit-out laps (model should not train on these)
df["is_pit_out_lap"] = df["is_pit_out_lap"].astype(int)

# -------------------------------------
# 3. Remove pit-out laps (optional but recommended)
# -------------------------------------

df = df[df["is_pit_out_lap"] == 0]

# -------------------------------------
# 4. Save processed data
# -------------------------------------

df.to_csv("../data/processed_quali_2024.csv", index=False)
print("✅ Processed data saved to ../data/processed_quali_2024.csv")

df.head()

meeting_key            0
session_key            0
driver_number          0
lap_number             0
date_start             4
duration_sector_1    382
duration_sector_2     24
duration_sector_3    149
i1_speed              13
i2_speed              24
is_pit_out_lap         0
lap_duration         155
segments_sector_1      0
segments_sector_2      2
segments_sector_3      2
st_speed              15
dtype: int64
✅ Processed data saved to ../data/processed_quali_2024.csv

,meeting_key,session_key,driver_number,lap_number,date_start,duration_sector_1,duration_sector_2,duration_sector_3,i1_speed,i2_speed,is_pit_out_lap,lap_duration,segments_sector_1,segments_sector_2,segments_sector_3,st_speed,sector_sum,avg_speed_est
11,1254,9689,31,2,2025-03-15T05:01:41.035000+00:00,27.066,17.337,33.114,288.0,323.0,0,77.517,"[2049, 2049, 2049, 2049, 2049, 2049, 2049, 204...","[2049, 2049, 2049, 2051, 2049]","[2051, 2049, 2051, 2051, 2051, 2051, 2049, 2049]",315.0,77.517,308.666667
14,1254,9689,63,2,2025-03-15T05:02:03.487000+00:00,26.777,17.431,33.002,289.0,323.0,0,77.210,"[2049, 2049, 2049, 2049, 2049, 2049, 2051, 205...","[2049, 2049, 2049, 2049, 2049]","[2049, 2049, 2049, 2051, 2049, 2049, 2051, 2051]",322.0,77.210,311.333333
17,1254,9689,7,2,2025-03-15T05:02:20.111000+00:00,26.740,17.282,32.977,288.0,324.0,0,76.999,"[2049, 2049, 2049, 2049, 2049, 2051, 2049, 204...","[2049, 2049, 2049, 2049, 2049]","[2049, 2051, 2049, 2049, 2049, 2049, 2049, 2049]",321.0,76.999,311.000000
18,1254,9689,27,2,2025-03-15T05:02:28.119000+00:00,26.605,17.309,33.011,289.0,328.0,0,76.925,"[2049, 2049, 2049, 2049, 2051, 2049, 2049, 204...","[2051, 2049, 2049, 2049, 2051]","[2051, 2049, 2049, 2049, 2049, 2049, 2049, 2049]",323.0,76.925,313.333333
19,1254,9689,55,2,2025-03-15T05:02:36.443000+00:00,27.029,17.351,33.270,288.0,326.0,0,77.650,"[2049, 2049, 2049, 2049, 2049, 2049, 2049, 204...","[2049, 2049, 2049, 2049, 2049]","[2049, 2049, 2051, 2049, 2049, 2049, 2049, 2048]",323.0,77.650,312.333333